@font-face {
  font-family: 'Fraunces';
  src:
    url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf') format('truetype'),
    url('../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf') format(truetype);

}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/manrope/static/Manrope-Regular.ttf') format('truetype'),
    url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');

}

:root {
  --very-dark-blue: rgb(36,5,62);
  --light-green: rgb(68,255,161);
  --davys-grey: rgb(88,77,98);
  --ghost-white: rgb(253, 250, 255);
  --white-as-usual: rgb(255,255,255);
  min-height: 0vw;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--very-dark-blue);
  padding-top: 37px;
  padding-bottom: 68px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w-container {
  width: min(91.4%, 1110px);
  margin-right: auto;
  margin-left: auto;
}

.header-btn {
  text-decoration: none;
  color: var(--white-as-usual);
  font-size: clamp(16px, 1.25vw, 18px);
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  line-height: 2;
  letter-spacing: -0.16px;
  border-bottom: 3px solid var(--light-green);
}

.header-btn:hover {
  color: var(--light-green);
  transition: ease-in .2s;
}

.hero {
  background: var(--very-dark-blue);
}
